body {
    color: #505050;
    line-height: 1.75em;
    position: relative;
    /*font-family: Consolas,Monaco,Lucida Console,monospace;
    font-family: Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-family: "Lantinghei SC","Open Sans",Arial,"Hiragino Sans GB","Microsoft YaHei","微软雅黑","STHeiti","WenQuanYi Micro Hei",SimSun,sans-serif;*/
    font-family: "Segoe UI","Lucida Grande",Helvetica,Arial,"Microsoft YaHei",FreeSans,Arimo,"Droid Sans","wenquanyi micro hei","Hiragino Sans GB","Hiragino Sans GB W3",FontAwesome,sans-serif;
    background-color: #dae3e7;
    /*text-shadow: 0 -4px 0 rgba(0,0,0,1);*/
}

a{text-decoration: none;}

.font-en {font-family: 'Changa One', cursive;}
.font-logo {font-family:"ff-tisa-web-pro-1","ff-tisa-web-pro-2","Lucida Grande","Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB","Hiragino Sans GB W3","Microsoft YaHei UI","Microsoft YaHei","WenQuanYi Micro Hei",sans-serif}

.ft11{font-size:11px;}

.ft13{font-size: 13px;}

.ft15{font-size: 15px;}

.ft18{font-size: 18px;}

.ft20{font-size: 20px;}

.ft36{font-size: 36px;}

.pointer{cursor: pointer;}

.color-w { color:#FFF; }
.color-b { color:#5bc3b5; }
.color-r { color:#de5233; }
.color-bg-r { background:#de5233; }
.color-bg-b { background:#5bc3b5; }


.okBtn{
	color:#5bc3b5;background-color: #565656;text-shadow: 0 -1px 0 rgba(0,0,0,1);display: table;font-size: 18px;height: 60px;margin: 0 0 15px;text-align: center;width: 50%;text-align:center;line-height:60px;cursor: pointer;
}
.okBtn:hover{
	color:#565656;background-color: #5bc3b5;border:2px solid #565656;
}
