.title-up{
	font-size:18px;color:#565656;font-weight: bolder;margin-top:10px;
}
.title-down{
	font-size:13px;line-height: 120%;padding-top:5px;
}
.title-step{
	font-size:18px;font-weight: bold;
}

.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight{
	border: 1px solid #7e7783;
    background: #5f5964 url(images/ui-bg_highlight-soft_45_5f5964_1x100.png) 50% 50% repeat-x;
    font-weight: bold;
    color: #5bc3b5;
}

.createBtn{
    border-radius:60px;width:100%;text-align:center;padding-bottom:5px;background:#de5233;
}

.createBtn:hover{
    background:#565656;color:#FFF;
}

.circle img{
	width: 50px;
	-webkit-border-radius: 50px;
	border-radius:50px;
}


.error-area{
	width:100%;color:#de5233;
}

.error-msg{
	float:left;height:30px;line-height:35px;padding-left:5px;
}


@-webkit-keyframes bounce-up {
  25% {-webkit-transform: translateY(10px) scaleX(1) scaleY(1);}
  50%, 100% {-webkit-transform: translateY(0) scaleX(1.1) scaleY(1.1);}
  75% {-webkit-transform: translateY(-10px) scaleX(1) scaleY(1);}
 }
 
 @keyframes bounce-up {
  25% {transform: translateY(10px) scaleX(1) scaleY(1);}
  50%, 100% {transform: translateY(0) scaleX(1.1) scaleY(1.1);}
  75% {transform: translateY(-10px) scaleX(1) scaleY(1);}
 }
 
 .ball:hover{ -webkit-animation: bounce-up 3s linear infinite;animation: bounce-up 3s linear infinite;}

 .title-ul{ border:1px solid #dbdee0;background:#FFF;}
 .title-ul ul{ list-style-type: none;margin:0; padding:0;}
 .title-ul ul li{ padding:5px 5px 2px 15px;cursor: pointer;color:#A9A9A9;}
 .title-ul ul li:last-child{ padding:5px 5px 5px 15px;} 
 .title-ul ul li:hover{ font-weight:bold;background:#F5F6FA;}
 
 .color-bg-gray{ font-weight:bold;background:#F5F6FA; }
 .color-gray{color:#A9A9A9;}




