.title-up{
	font-size:18px;color:#565656;font-weight: bolder;margin-top:10px;
}
.title-down{
	font-size:13px;line-height: 120%;padding-top:5px;
}
.title-step{
	font-size:18px;font-weight: bold;
}

.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight{
	border:2px solid #de5233;
}

.createBtn{
    border-radius:60px;width:100%;text-align:center;padding-bottom:5px;background:#de5233;
}

.createBtn:hover{
    background:#565656;color:#FFF;
}

.circle img{
	width: 50px;
	-webkit-border-radius: 50px;
	border-radius:50px;
}


.error-area{
	width:100%;color:#de5233;
}

.error-msg{
	float:left;height:30px;line-height:35px;padding-left:5px;
}


@-webkit-keyframes bounce-up {
  25% {-webkit-transform: translateY(10px) scaleX(1) scaleY(1);}
  50%, 100% {-webkit-transform: translateY(0) scaleX(1.1) scaleY(1.1);}
  75% {-webkit-transform: translateY(-10px) scaleX(1) scaleY(1);}
 }
 
 @keyframes bounce-up {
  25% {transform: translateY(10px) scaleX(1) scaleY(1);}
  50%, 100% {transform: translateY(0) scaleX(1.1) scaleY(1.1);}
  75% {transform: translateY(-10px) scaleX(1) scaleY(1);}
 }
 
 .ball:hover{ -webkit-animation: bounce-up 3s linear infinite;animation: bounce-up 3s linear infinite;}







