body {
    color: #505050;
    line-height: 1.75em;
    position: relative;
    font-family: "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", "WenQuanYi Micro Hei", "Microsoft YaHei UI", "Microsoft YaHei", sans-serif;
    background-color: #dae3e7;
}


.listTable{
	color:#000;
	border-spacing:0px;
	border:solid #a8b9c0;
	border-width:1px 0 0 1px;
	-moz-box-shadow:7px 7px 16px #000000; -webkit-box-shadow:7px 7px 16px #000000; box-shadow:7px 7px 16px #a8b9c0;

}
.listTable tr{
	height:30px;
}

.listTable tr td{
	font-size:13px;
	padding:5px 10px;
	text-align: center;
	border: solid #a8b9c0 ; 
	border-width:0 1px 1px 0;
}

.listTable tr:nth-child(1){
	color:#f89f21;
	font-size:15px;
	background: #183654;
}


.addTable{
	color:#000;
	border-spacing:0px;
	border:solid #a8b9c0;
	border-width:1px 0 0 1px;
	-moz-box-shadow:7px 7px 16px #000000; -webkit-box-shadow:7px 7px 16px #000000; box-shadow:7px 7px 16px #a8b9c0;
}
.addTable tr{
	height:30px;
}

.addTable tr td{
	font-size:13px;
	padding:5px 10px;
	text-align: center;
	border: solid #a8b9c0 ; 
	border-width:0 1px 1px 0;
}

.addTable tr:nth-child(1){
	
	color:#f89f21;
	font-size:15px;
	/*background: #183654;*/
}






