.pollTable{
	margin-left: 10%;
	margin-right:10%;
	width: 80%;
	color:#565656;
	border-spacing:0px;
	border:solid #e5e5e5;
	border-width:2px 0 0 2px;
	/*-moz-box-shadow:7px 7px 16px #000000; -webkit-box-shadow:7px 7px 16px #000000; box-shadow:7px 7px 16px #a8b9c0;*/

}
.pollTable tr{
	
}

.pollTable tr td{
	font-size:13px;
	padding:5px 10px;
	text-align: center;
	border: solid #e5e5e5 ; 
	border-width:0 2px 2px 0;
}

.pollBtn{
	color:#5bc3b5;background-color: #565656;text-shadow: 0 -1px 0 rgba(0,0,0,1);display: table;font-size: 18px;height: 60px;margin: 0 0 15px;text-align: center;width: 50%;text-align:center;line-height:60px;cursor: pointer;
}

.pollBtn:hover{
	color:#565656;background-color: #5bc3b5;border:2px solid #565656;text-shadow: 0;
}

.title-up{
	font-size:18px;color:#565656;font-weight: bolder;
}
.title-down{
	font-size:13px;line-height: 120%;
}


