

.breadcrumb-area{
height:100px;background:url(../image/bg.jpg);background-repeat:repeat-y;
}


.circle img{
	width: 60%;
	-webkit-border-radius: 150px;
	border-radius:150px;
}

.box-shadow{  
  -moz-box-shadow:7px 7px 16px #000000; -webkit-box-shadow:7px 7px 16px #000000; box-shadow:7px 7px 16px #000000;
} 


.step{
	list-style:none;
}

.step tr:nth-child(1) td{
	padding:50px 50px 0 50px;
}

.step tr:nth-child(2) td{
	padding-left:130px;
}

/*
a{
color: #000;	
text-decoration: none;
}
a:link {
text-decoration: none;
}
a:visited {
text-decoration: none;
}
a:hover {
text-decoration: none;
}
a:active {
text-decoration: none;
}
*/

.createTable{
	width:100%;border-collapse:separate; border-spacing:20px;
}

.createTableTr1Td2,.createTableTr2Td2,.createTableTr3Td2{
	padding-bottom:5px;
	padding-right: 5px;
	/*background-color: #565656;
	-moz-box-shadow:7px 7px 16px #a8b9c0; -webkit-box-shadow:7px 7px 16px #a8b9c0; box-shadow:7px 7px 16px #a8b9c0;*/
}

input:focus,textarea:focus{
	border: 2px solid #570000;
}

input:hover,textarea:hover{
	border: 2px solid #570000;
}


.createBtn{
	color:#5bc3b5;background-color: #565656;text-shadow: 0 -1px 0 rgba(0,0,0,1);display: table;font-size: 18px;height: 60px;margin: 0 0 15px;text-align: center;width: 50%;text-align:center;line-height:60px;cursor: pointer;
}

.createBtn:hover{
	color:#565656;background-color: #5bc3b5;border:2px solid #565656;text-shadow: 0;
}

.confirmBtn{
	color:#5bc3b5;background-color: #565656;text-shadow: 0 -1px 0 rgba(0,0,0,1);display: table;font-size: 18px;height: 60px;margin: 0 0 15px;text-align: center;width: 30%;text-align:center;line-height:60px;cursor: pointer;
}
.confirmBtn:hover{
	color:#565656;background-color: #5bc3b5;border:2px solid #565656;
}

.ttl{
	font-size:15px;font-weight:bold;
}


.okBtn{
    border-radius:80px;width:100%;text-align:center;padding-bottom:5px;background:#de5233;
}

.okBtn:hover{
    background:#5bc3b5;color:#565656;
}












.arrow{
	margin-top:20px;
}
.arrow a {
	padding-top: 70px;
}
.arrow a span {
	position: absolute;
	left: 50%;
	width: 24px;
	height: 24px;
	margin-left: -12px;
	border-left: 1px solid #fff;
	border-bottom: 1px solid #fff;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
	-webkit-animation: sdb05 1.5s infinite;
	animation: sdb05 1.5s infinite;
	box-sizing: border-box;
}
@-webkit-keyframes sdb05 {
	0% {
		-webkit-transform: rotate(-45deg) translate(0, 0);
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		-webkit-transform: rotate(-45deg) translate(-20px, 20px);
		opacity: 0;
	}
}
@keyframes sdb05 {
	0% {
		transform: rotate(-45deg) translate(0, 0);
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		transform: rotate(-45deg) translate(-20px, 20px);
		opacity: 0;
	}
}