<!DOCTYPE html>
<html>
	<head>
    <script type="text/javascript" src="js/jquery.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1/i18n/jquery.ui.datepicker-ja.min.js"></script>
    <script type="text/javascript" src="js/top.js"></script>
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/eggplant/jquery-ui.css" >
		<title></title>
	</head>
	<body style="margin:0;padding:0;font-family:Consolas,Monaco,Lucida Console,monospace;"> 
<div class="wrap"> 

<div style="background:#273547;">

<!-- logo start -->
 <div style="width:100%;">
    <div style="padding-left:30%;float:left;"><img src="../image/logo8.svg" height="80px"></div>
    <div style="font-size:50px;color:#FFF;padding-left:40%;height:80px;line-height:80px;">enlamiao</div>
 </div>
<!-- logo end --> 



<div>
<img src="../image/bg.png" width="100%">
</div>



<!--
<div style="height:50px;line-height:50px;width:100%;margin:20px 10% 20px 10%;font-size:20px;">
<form action="../action/confirm.php" method="post">
    <table style="width:80%;">
    <tr>
      <td style="width:20%">
        <div style="height:70px;line-height:70px;">Title：</div>
      </td>

      <td style="width:60%">
      <div style="color:#FFF;line-height:13px;font-size:9px;">
          Input your subject!
       </div>
        <div style="height:50px;line-height:50px;width:100%">
          <input type="text" id="title" name="title" style="height:45px;width:100%;font-size:20px;">
        </div>
      </td> 

      <td style="width:20%">
      
      <td> 

    </tr>

    <tr>
      <td style="width:20%">
        <div style="height:50px;line-height:50px;">Date：</div>
      </td>

       <td style="width:60%">
       <div style="color:#FFF;line-height:13px;font-size:9px;">
          Example:<br>
          27 March.　19:00〜<br>
          28 March.　19:00〜<br>
          29 March.　19:00〜<br>
          30 March.　19:00〜<br>
       </div>
        <input type="text" id="datepicker" name="start" style="height:45px;width:100%;font-size:20px;">
        
      </td>

      <td style="width:20%">
      
      <td> 

    </tr>

    <tr>
      <td style="width:20%">
        <div style="height:70px;line-height:70px;">Content：</div>
      </td>

      <td style="width:60%">
      <div style="color:#FFF;line-height:13px;font-size:9px;">
          Input Contents  !
       </div>
        <div style="height:200px;line-height:200px;width:100%">
          <textarea id="content" name="content" style="width:100%;font-size:20px;resize:none;" rows="8"></textarea>
        </div>
      </td>

      <td style="width:20%">
      
      <td> 
      
    </tr>


    <tr>
      <td>
      </td> 
      <td>
      <div style="width:120px;background:#cb3837;">
          <div style="text-align:center;color:#FFF;">Confirm</div>
          <input type="submit" value="submit">
        </div>
      </td>
      <td>
      </td>
    </tr>

    </form>
     
    </table>
</div>
-->



    </div>
</div>
	</body>
</html>
